src/common/src/at/ac/tuwien/infosys/g2021/common/communication/communication.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
This is the definition of the messages sent between the buffer daemon and the
client JVMs containing DataPoint instances.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://infosys.tu-wien.ac.at/g2021/schemas/communication"
           xmlns="http://infosys.tu-wien.ac.at/g2021/schemas/communication"
           elementFormDefault="qualified">

    <!-- There are only messages at the outermost level. -->
    <xs:element name="message">
        <xs:complexType>
            <xs:choice>
                <!--
                A client request to establish a new client endpoint.
                This message ist used in the communication management as "Basic-setup-connect".
                -->
                <xs:element name="establish" type="EstablishTag"/>

                <!--
                The server response to accept a client message. This message is the answer
                to an establish message from a client, if the client connection uses the same
                protocol version as defined in the communication management as "Basic-setup-accept".
                -->
                <xs:element name="accepted" type="AcceptedTag"/>

                <!--
                The server response to reject a client message. This message is used in several cases:
                o In the communication management this message ist used as "Basic-setup-reject", if
                  GBot and daemon use different protocol versions.
                o As response to querying buffer meta info, if there is no buffer with the given name.
                o As response to assigning an unknown buffer to a data point.
                o After setting the value of an unknown buffer.
                -->
                <xs:element name="rejected" type="RejectedTag"/>

                <!--
                The request to remove a connection between client endpoint and server. The TCP/IP connection
                is closed after sending this message.
                -->
                <xs:element name="disconnect" type="DisconnectTag"/>

                <!--
                The request from a client, to query buffer names. This message is used in
                the process communication query as "Buffer-query" message.
                -->
                <xs:element name="queryBuffersByName" type="QueryBuffersByNameTag"/>

                <!--
                The request from a client, to query buffer names. This message is used in
                the process communication query as "Buffer-query" message.
                -->
                <xs:element name="queryBuffersByMetainfo" type="QueryBuffersByMetainfoTag"/>

                <!--
                A list of buffer names. This message is used in
                the process communication query as "Buffer-names" message.
                -->
                <xs:element name="bufferNames" type="BufferNamesTag"/>

                <!--
                The request from a client, to query the meta info of a single buffer. This message is used in
                the process communication query as "Buffer-read" message.
                -->
                <xs:element name="queryMetainfo" type="QueryMetainfoTag"/>

                <!--
                The meta info assigned to a buffer. This message is used in
                the process communication query as "Buffer-meta-info" message.
                -->
                <xs:element name="bufferMetainfo" type="BufferMetainfoTag"/>

                <!--
                The request from a client, to read a buffer configuration.
                -->
                <xs:element name="getBufferConfiguration" type="GetBufferConfigurationTag"/>

                <!--
                The request from a client, to read a buffer configuration.
                -->
                <xs:element name="setBufferConfiguration" type="SetBufferConfigurationTag"/>

                <!--
                The request from a client, to release a buffer.
                -->
                <xs:element name="releaseBuffer" type="ReleaseBufferTag"/>

                <!--
                The configuration of a buffer.
                -->
                <xs:element name="bufferConfiguration" type="BufferConfigurationTag"/>

                <!--
                A client request to get the current state and value of a buffer immediately.
                This message is used in the process communication values as "Value-get-now" message.
                -->
                <xs:element name="getImmediate" type="GetImmediateTag"/>

                <!--
                A client request to get the current state and value of a buffer after a value change.
                This message is used in the process communication values as "Value-get-onChange" message.
                -->
                <xs:element name="get" type="GetTag"/>

                <!--
                A client request to set the current value of a buffer.
                -->
                <xs:element name="set" type="SetTag"/>

                <!--
                The daemon sends the current information about a buffer to the client.
                This message is used in the process communication values as "Value-push" message.
                -->
                <xs:element name="push" type="PushTag"/>

            </xs:choice>
        </xs:complexType>
    </xs:element>

    <!--
    The definition of the establish tag.
    -->
    <xs:complexType name="EstablishTag">

        <!-- The currently used protocol version. -->
        <xs:attribute name="version" type="xs:int" use="required"/>

    </xs:complexType>

    <!--
    The definition of the accepted tag. This tag does not contain any additional data.
    -->
    <xs:complexType name="AcceptedTag"/>

    <!--
    The definition of the rejected tag.
    -->
    <xs:complexType name="RejectedTag">

        <!-- This is a hint, why a message is rejected by the daemon. -->
        <xs:attribute name="reason" type="xs:string" use="required"/>
    </xs:complexType>

    <!--
    The definition of the disconnect tag. This tag does not contain any additional data.
    -->
    <xs:complexType name="DisconnectTag"/>

    <!--
    The definition of the queryBuffers tag. This tag contains the regular expressions of matching buffer names as attribute.
    -->
    <xs:complexType name="QueryBuffersByNameTag">

        <!-- The name pattern of the required buffers. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

    </xs:complexType>

    <!--
    The definition of the queryBuffers tag. This tag contains the regular expressions for buffer topics (buffer metadata keys)
    and buffer metadata contents as attributes.
    -->
    <xs:complexType name="QueryBuffersByMetainfoTag">

        <!-- The topic pattern of the required buffers. -->
        <xs:attribute name="topic" type="xs:string" use="required"/>

        <!-- The meta info pattern of the required buffers. -->
        <xs:attribute name="metainfo" type="xs:string" use="required"/>

    </xs:complexType>

    <!--
    A list of buffer names as a response of a buffer query. The list may be empty.
    -->
    <xs:complexType name="BufferNamesTag">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--
    The definition of the queryMetaInfo tag. This tag contains the name of the buffer, for which the meta info is required.
    -->
    <xs:complexType name="QueryMetainfoTag">

        <!-- The name of the buffer. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

    </xs:complexType>

    <!--
    The definition of the bufferMetaInfo tag. This tag contains the name of a buffer and the meta info assigned to.
    -->
    <xs:complexType name="BufferMetainfoTag">
        <xs:sequence>

            <!-- The buffer name -->
            <xs:element name="name" type="xs:string"/>

            <!-- The buffer meta info. This list may be empty! -->
            <xs:element name="metainfo" type="MetainfoTag" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--
    The definition of a single entry of buffer meta information.
    -->
    <xs:complexType name="MetainfoTag">

        <!-- The buffer meta info. -->
        <xs:sequence>
            <xs:element name="info" type="xs:string"/>
        </xs:sequence>

        <!-- The meta info name -->
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <!--
    The definition of the getBufferConfiguration tag. This tag is used for reading a buffer configuration
    by a client.
    -->
    <xs:complexType name="GetBufferConfigurationTag">

        <!-- The name of the buffer. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

    </xs:complexType>

    <!--
    The definition of the setBufferConfiguration tag. This tag is used for updating a buffer configuration
    by a client.
    -->
    <xs:complexType name="SetBufferConfigurationTag">

        <!-- The buffer configuration. -->
        <xs:sequence>
            <xs:element name="bufferConfiguration" type="BufferConfigurationTag"/>
        </xs:sequence>

        <!-- The name of the buffer. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

        <!-- Is buffer creation allowed. -->
        <xs:attribute name="create" type="xs:boolean" use="required"/>

    </xs:complexType>

    <!--
    The definition of the getReleaseBuffer tag. This tag is used for releasing a buffer
    by a client.
    -->
    <xs:complexType name="ReleaseBufferTag">

        <!-- The name of the buffer. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

    </xs:complexType>

    <!--
    The definition of the bufferConfiguration tag. This tag contains all the configuration
    items of a buffer.
    -->
    <xs:complexType name="BufferConfigurationTag">

        <!-- The buffer configuration. -->
        <xs:sequence>

            <!-- The definition of the gatherer. -->
            <xs:element name="gatherer" type="GathererTag"/>

            <!-- The definition of the adapter chain. This list may be empty! -->
            <xs:element name="adapter" type="AdapterTag" minOccurs="0" maxOccurs="unbounded"/>

            <!-- The buffer meta info. This list may be empty! -->
            <xs:element name="metainfo" type="MetainfoTag" minOccurs="0" maxOccurs="unbounded"/>

        </xs:sequence>

        <!-- The kind of buffer. -->
        <xs:attribute name="kind" type="xs:string" use="required"/>

    </xs:complexType>

    <!--
    The configuration data of gatherers.
    -->
    <xs:complexType name="GathererTag">

        <!-- The different kinds of gatherers. -->
        <xs:choice>

            <!-- A dummy gatherer. -->
            <xs:element name="dummy" type="DummyGathererTag"/>

            <!-- The test gatherer. -->
            <xs:element name="test" type="TestGathererTag"/>

        </xs:choice>
    </xs:complexType>

    <!--
    Dummy and test gatherers have no configuration data.
    -->
    <xs:complexType name="DummyGathererTag"/>
    <xs:complexType name="TestGathererTag"/>

    <!--
    The configuration data of adapters.
    -->
    <xs:complexType name="AdapterTag">

        <!-- The different kinds of adapters. -->
        <xs:choice>

            <!-- A dummy adapter. -->
            <xs:element name="dummy" type="DummyAdapterTag"/>

            <!-- The implemented adapter types. -->
            <xs:element name="scale" type="ScalingAdapterTag"/>
            <xs:element name="trigger" type="TriggeringAdapterTag"/>
            <xs:element name="lowpass" type="LowpassAdapterTag"/>
            <xs:element name="filter" type="FilteringAdapterTag"/>

        </xs:choice>
    </xs:complexType>

    <!--
    Dummy adapters have no configuration data.
    -->
    <xs:complexType name="DummyAdapterTag"/>

    <!--
    The implemented adapter types and their configuration data.
    -->
    <xs:complexType name="ScalingAdapterTag">
        <xs:attribute name="a" type="xs:double" use="required"/>
        <xs:attribute name="b" type="xs:double" use="required"/>
        <xs:attribute name="c" type="xs:double" use="required"/>
    </xs:complexType>
    <xs:complexType name="TriggeringAdapterTag">
        <xs:attribute name="upperThreshold" type="xs:double" use="required"/>
        <xs:attribute name="lowerThreshold" type="xs:double" use="required"/>
        <xs:attribute name="upperValue" type="xs:double" use="required"/>
        <xs:attribute name="lowerValue" type="xs:double" use="required"/>
    </xs:complexType>
    <xs:complexType name="LowpassAdapterTag">
        <xs:attribute name="interpolationFactor" type="xs:double" use="required"/>
    </xs:complexType>
    <xs:complexType name="FilteringAdapterTag">
        <xs:attribute name="minimumDifference" type="xs:double" use="required"/>
    </xs:complexType>

    <!--
    The definition of the getImmediate tag. This tag contains the name of the buffer only.
    -->
    <xs:complexType name="GetImmediateTag">

        <!-- The name of the buffer. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

    </xs:complexType>

    <!--
    The definition of the get tag. This tag contains the name of the buffer only.
    -->
    <xs:complexType name="GetTag">

        <!-- The name of the buffer. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

    </xs:complexType>

    <!--
    The definition of the set tag. This tag contains the name of the buffer and its new value.
    -->
    <xs:complexType name="SetTag">

        <!-- The name of the buffer. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

        <!-- The value of the buffer. -->
        <xs:attribute name="value" type="xs:double" use="required"/>

    </xs:complexType>

    <!--
    The definition of the push tag. This tag contains the name of the buffer, its current value and its state.
    The buffer value is omitted, if the buffer isn't in a ready state.
    -->
    <xs:complexType name="PushTag">

        <!-- The name of the buffer. -->
        <xs:attribute name="name" type="xs:string" use="required"/>

        <!-- The value of the buffer. -->
        <xs:attribute name="value" type="xs:double" use="optional"/>

        <!-- The current buffer state. -->
        <xs:attribute name="state" type="xs:string" use="required"/>

        <!-- The time stamp of the last buffer value change. -->
        <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>

        <!-- Is this message the result of an spontaneous value change. -->
        <xs:attribute name="spontaneous" type="xs:boolean" use="required"/>

    </xs:complexType>

</xs:schema>

